<div id="contact-banner">
  <div class="headline center">
    <h1>Reset your password</h1>
  </div>
</div>
<div class="form-container" style="width:50%;margin: 6em auto;">
  <div *ngIf="!isSent">


  <form class=""  [formGroup]="form" (ngSubmit)="submitForm(form)">
    <p class="error">{{error}}</p>

    <md-input-container class="full">
      <input mdInput formControlName="password" type="password" placeholder="Reset Password">
    </md-input-container>

    <button md-button class="clear center btn btn-lg btn-primary btn-block btn-signin" type="submit" >Reset</button>
  </form>

  </div>
</div>