<footer>
  <!--<section class="slogan">
    <div class="icon footer-logo center cursor" [routerLink]="['/']"></div>
    <p class="p-0 m-0 center">Music in motion. &trade;</p>
  </section>-->
  <div class="footer-menu font-small p-tb-medium p-lr-medium ">
    <div class="mobile icon footer-logo center cursor no-text">Audiio Logo </div>

    <button class="font-small"><a [routerLink]="['/about']">About</a></button>
      <button class="font-small"><a [routerLink]="['/browse']">Browse Catalog</a></button>
      <button class="font-small"><a [routerLink]="['/legal']">License Agreement</a></button>
      <button class="font-small"><a [routerLink]="['/privacy']">Privacy</a></button>
      <button class="font-small"><a [routerLink]="['/roster']">Roster</a></button>
      <button class="font-small"><a [routerLink]="['/contact']">Contact</a></button>
      <div class="desktop icon footer-logo center cursor">audiio </div>
      <p class="fr p-0 m-0 ">&copy; 2018 Audiio. All Rights Reserved <span class="font-medium"> v{{version}}</span></p>

  </div>
</footer>

