# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
**/dist
**/tmp

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

#System Files
.DS_Store
Thumbs.db


/**/node_modules/
dist/
**/**/app/*.js
**/**/app/*.*.js
**/**/app/*.map
**/**/app/*.*.map

**/**/*.js
**/**/*.*.js
**/**/*.map
**/**/*.*.map

**/.idea
**/node_modules
typings/globals/index/typings.json
npm-debug.log

../webapp/tmt/


.DS_Store
*.log
*.iml
