<div class="page">
  <div id="about-top-banner" [style.height.px]="slideshowHeight">
    <div class="headline">
      <h1>Go Wild!</h1>
    <h2>Music Licensing&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;&nbsp;Music Supervision&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;&nbsp;Custom Scores</h2>
    </div>

  </div>
  <div class="logo-row">
    <div class="logo-block apple"></div>
    <div class="logo-block adidas"></div>
    <div class="logo-block uber"></div>
    <div class="logo-block airbnb"></div>
    <div class="logo-block cocacola"></div>
    <div class="logo-block espn"></div>
    <div class="logo-block ferrari"></div>
  </div>
  <div class="logo-row">
    <div class="logo-block wb"></div>
    <article class="about skinny content ">
      <p>We pitch, license, supervise and scrappily help filmmakers around<br/>
        the world discover unique music to help craft their story.</p>
      <p>Our catalog of independent artists are cleared for both master<br/>
        and publishing to ensure you have the license you need when you need it. The artist<br/>
        roster is updated weekly to keep things fresh so check back often!</p>
    </article>
    <div class="logo-block redbull"></div>
  </div>

  <div class="logo-row">
    <div class="logo-block abc"></div>
    <div class="logo-block nike"></div>
    <div class="logo-block google"></div>
    <div class="logo-block netflix"></div>
    <div class="logo-block nbc"></div>
    <div class="logo-block jaguar"></div>
    <div class="logo-block hulu"></div>
  </div>

  <div id="about-lower-banner">
    <h1>Need music for your film?</h1>
    <div class="buttons">
      <button md-button class="clear btn btn-primary center m-t-medium" [routerLink]="['/browse']">Browse Catalog</button>
      <button md-button class="clear btn btn-primary center m-t-medium" [routerLink]="['/contact']">Talk to a Human</button>
    </div>

  </div>

  <section id="hiring">
    <h2>
      We're Hiring!
      <div class="border"></div>
    </h2>
    <p>Our team is growing quickly and looking for talent in Los Angeles, Austin,
      NYC &amp; London.</p>

    <button md-button class="btn btn-primary" [routerLink]="['/contact']">Apply Today</button>
  </section>

</div>
