<div class="hero-inner-container account">
  <div class="hero-content">
    <div class="thumb" style="background-image:url(https://d3rtks05ujgkhe.cloudfront.net/assets/image/thumb-account-image.jpg);"></div>
    <p>Josh Read</p>
  </div>

  <app-account-menu></app-account-menu>

  <div class="hero-inner-tint dark"></div>
</div>

<div class="flex-content m-b-large">
  <section class="browse m-l-large m-r-large m-b-large ">
    <h4 class="m-tb-medium m-0">Tracks</h4>

    <app-track></app-track>
    <app-track></app-track>
  </section>
</div>
<app-featured-playlists> </app-featured-playlists>