<div class="page">
  <h1 class="center m-t-medium">Artist Roster</h1>
  <div class="w-full ">
    <ul class="list">
      <span *ngFor="let artist of artists | orderByPipe: 'name';">
      <li *ngIf="artist?.description?.length > 0" [routerLink]="[artist.uri]" >
        <button md-button class="btn btn-primary btn-grey center m-t-medium m-lr-medium  inline-block"
                [routerLink]="[artist.uri]">Listen Now
        </button>
        <h3>{{ artist.name }}</h3>
        <p>{{ artist.description }}</p>
      </li>
        </span>
    </ul>
  </div>