<!--<section class="related-artists ">
  <h4 class="m-tb-medium m-0">Related Artists <strong class="uppercase font-medium txt-primary m-l-medium cursor" [routerLink]="['/artist']">Browse Similar Artists</strong></h4>
  <md-card class="card fl m-r-medium">
    <img md-card-image src="https://d3rtks05ujgkhe.cloudfront.net/assets/image/thumb-related-artist.jpg">
    <md-card-content>
      <label>Cubby</label>
      <p>2 Albums | 36 Tracks</p>
    </md-card-content>
  </md-card>

  <md-card class="card fl m-r-medium">
    <img md-card-image src="https://d3rtks05ujgkhe.cloudfront.net/assets/image/thumb-related-artist.jpg">
    <md-card-content>
      <label>Cubby</label>
      <p>2 Albums | 36 Tracks</p>
    </md-card-content>
  </md-card>

  <md-card class="card fl m-r-medium">
    <img md-card-image src="https://d3rtks05ujgkhe.cloudfront.net/assets/image/thumb-related-artist.jpg">
    <md-card-content>
      <label>Cubby</label>
      <p>2 Albums | 36 Tracks</p>
    </md-card-content>
  </md-card>

  <md-card class="card fl m-r-medium">
    <img md-card-image src="https://d3rtks05ujgkhe.cloudfront.net/assets/image/thumb-related-artist.jpg">
    <md-card-content>
      <label>Cubby</label>
      <p>2 Albums | 36 Tracks</p>
    </md-card-content>
  </md-card>

  <md-card class="card fl m-r-medium">
    <img md-card-image src="https://d3rtks05ujgkhe.cloudfront.net/assets/image/thumb-related-artist.jpg">
    <md-card-content>
      <label>Cubby</label>
      <p>2 Albums | 36 Tracks</p>
    </md-card-content>
  </md-card>
</section>-->
