/*@import 'https://fonts.googleapis.com/icon?family=Material+Icons';*/
@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700';
@font-face {
  font-family: 'SourceSansPro';
  src: url('https://d3rtks05ujgkhe.cloudfront.net/assets/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf');
}

@font-face {
  font-family: 'SourceSansPro-Bold';
  src: url('https://d3rtks05ujgkhe.cloudfront.net/assets/fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf');
}

@font-face {
  font-family: 'SourceSansPro-Light';
  src: url('https://d3rtks05ujgkhe.cloudfront.net/assets/fonts/Source_Sans_Pro/SourceSansPro-Light.ttf');
}

@font-face {
  font-family: 'MuseoSans_500';
  src: url('/assets/fonts/MuseoSans/MuseoSans_500-webfont.woff2') format('woff2'),
       url('/assets/fonts/MuseoSans/MuseoSans_500-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSans_300';
  src: url('/assets/fonts/MuseoSans/MuseoSans_300.ttf');
}

@font-face {
  font-family: 'MuseoSans_700';
  src: url('/assets/fonts/MuseoSans/MuseoSans_700.ttf');
}

@font-face {
  font-family: 'SlateStd-Medium';
  src: url('/assets/fonts/SlateStd-Medium.otf');
}

html, body {
  font-family: 'SourceSansPro', sans-serif;
  height: 100%;

}

.bold {
  font-weight: 700;
  font-family: 'SourceSansPro-Bold', sans-serif;
}

.font-medium {
  font-size: 14px;
}
.font-mlarge {
  font-size: 16px;
}

.font-small {
  font-size: 12px;
}
.underline{
  text-decoration: underline;
}
.txt-small {
}

.font-large {
  font-size: 20px;
}

.font-xxlarge {
  font-size: 50px;
}

.uppercase {
  text-transform: uppercase;
}

sup {
  font-size: 8px;
}

.links, .pagination a {
  text-decoration: none;
  text-transform: uppercase;
}


h1 {
  font-family: SourceSansPro-Light;
  font-size: 36px;
}

h2 {
  font-size: 22px;
}

h4 {
  font-family: SourceSansPro-Light;
  font-size: 24px;
  font-weight: 100;
}

.btn.btn-primary, .btn-primary, .txt-primary, .txt-secondary {
  font-family: SourceSansPro-Bold;
  font-size: 14px;
  text-transform: capitalize;
}
.txt-secondary {
  font-size:16px;
  text-transform: lowercase;
  font-family: SourceSansPro-Regular;
}
.text-capitalize{
  text-transform: capitalize;
}

.txt-hide {
  text-indent: -9999px;
}

aside h3 {
  font-family: SourceSansPro-Bold;
  font-size: 24px;
}

a.no-underline {
  text-decoration: none;
}
.uppercase {
  text-transform: uppercase;
}

.main-toolbar {
  font-family: 'MuseoSans_500';
  font-size: 14px;
}

.sm-caps {
  font-family: SourceSansPro-Bold;
  font-size: 14px;
  color: #9B9B9B;
  letter-spacing: 0;
  text-transform: uppercase;
}