<div class="page ">
  <div class="hero-inner-headline checkout">
    <div class="hero-content">
      <h1>Custom License Request</h1>
    </div>
  </div>

  <article class="checkout content font-medium">

    <div class="form-container" style="width:50%;margin: 6em auto;">
      <div >

        <h1 class="center">Success! We have received your message</h1>

        <section class="blurb-center">
          <h2>We'll respond to your message shortly. In the meantime...
            <div class="border"></div>
          </h2>
          <button md-button class="clear btn btn-primary center m-t-medium" [routerLink]="['/browse']">Browse Our
            Music
          </button>
        </section>

      </div>
    </div>

  </article>
</div>