<div class="dialog">
  <span class="m-r-medium m-t-medium fr icon no-text icon-close login" (click)="onClose()">close</span>
  <form class=""  [formGroup]="form" (ngSubmit)="submitForm(form)" *ngIf="!isSent">
    <div class="headline">
    <h1 class="center m-b-medium">Forgot Password </h1>
    <p class="error">{{error}}</p>
    </div>
    <div class="body">
    <md-input-container>
      <input mdInput formControlName="email" type="text" placeholder="Email" [(ngModel)]="email">
    </md-input-container>
    <a class="fr links f-normal font-medium bold" (click)="onLogin()">Login</a>
    <button md-button class="clear center btn btn-lg btn-primary btn-block btn-signin" type="submit" >Reset</button>
    </div>

  </form>

  <div *ngIf="isSent">
    <div class="headline">
      <h1 class="center m-b-medium">Request Sent</h1>
    </div>
    <div class="body">
      <p>An email will arrive shortly at {{email}}</p>
      <p>If you don't receive and email and it didn't happen to be in your spam, please contact us at <a
        href="mailto:hello@audiio.com">hello@audiio.com</a></p>
      <button md-button class="clear center btn btn-lg btn-primary btn-block btn-signin" type="submit"
              (click)="onClose()">Close
      </button>
    </div>
  </div>

</div>