<!--
<section class="featured-playlist m-r-large m-l-large m-b-large overflow">
  <h4 class="m-tb-medium m-0">Featured Playlists <strong class="uppercase font-medium txt-primary m-l-medium cursor" [routerLink]="['/playlists']">Browse Playlist</strong></h4>
  <md-card class="card tint-content fl m-r-medium">
    <h3>Cinematic</h3>
    <p>Audio</p>
    <div class="tint"></div>
    <div class="thumb" style="background-image:url(https://d3rtks05ujgkhe.cloudfront.net/assets/image/thumb-featured-playlist.jpg);"></div>
  </md-card>

  <md-card class="card tint-content fl m-r-medium">
    <h3>Cinematic</h3>
    <p>Audio</p>
    <div class="tint"></div>
    <div class="thumb" style="background-image:url(https://d3rtks05ujgkhe.cloudfront.net/assets/image/thumb-featured-playlist.jpg);"></div>
  </md-card>

  <md-card class="card tint-content fl m-r-medium">
    <h3>Cinematic</h3>
    <p>Audio</p>
    <div class="tint"></div>
    <div class="thumb" style="background-image:url(https://d3rtks05ujgkhe.cloudfront.net/assets/image/thumb-featured-playlist.jpg);"></div>
  </md-card>

  <md-card class="card tint-content fl m-r-medium">
    <h3>Cinematic</h3>
    <p>Audio</p>
    <div class="tint"></div>
    <div class="thumb" style="background-image:url(https://d3rtks05ujgkhe.cloudfront.net/assets/image/thumb-featured-playlist.jpg);"></div>
  </md-card>

</section>
-->
